{
  "presets": [
    ["env", {
      "debug": true,
      // "targets": {
      //   "browsers": ["IE >= 11", "Android >= 4.2", "iOS >= 8.0.0", "Chrome >= 50", "Firefox >= 46"]
      // }
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
